.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;}
}

.navbar-brand.brand{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
 }

.navbar-brand > img {
    padding-top: 5px !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}
